// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #000000;
  --ion-color-primary-rgb: 0, 0, 0;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #000000;
  --ion-color-primary-tint: #1a1a1a;

  --ion-color-secondary: #ff0000;
  --ion-color-secondary-rgb: 255, 0, 0;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #e00000;
  --ion-color-secondary-tint: #ff1a1a;

  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0, 0, 0;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  --ion-color-light: #ffffff;
  --ion-color-light-rgb: 255, 255, 255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;
}

@media (prefers-color-scheme: light) {
  /*
   * Light Colors
   * -------------------------------------------
   */

  body {
    --ion-color-primary: #000000;
    --ion-color-primary-rgb: 0, 0, 0;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-contrast-rgb: 255, 255, 255;
    --ion-color-primary-shade: #000000;
    --ion-color-primary-tint: #1a1a1a;

    --ion-color-secondary: #ff0000;
    --ion-color-secondary-rgb: 255, 0, 0;
    --ion-color-secondary-contrast: #ffffff;
    --ion-color-secondary-contrast-rgb: 255, 255, 255;
    --ion-color-secondary-shade: #e00000;
    --ion-color-secondary-tint: #ff1a1a;

    --ion-color-tertiary: #5260ff;
    --ion-color-tertiary-rgb: 82, 96, 255;
    --ion-color-tertiary-contrast: #ffffff;
    --ion-color-tertiary-contrast-rgb: 255, 255, 255;
    --ion-color-tertiary-shade: #4854e0;
    --ion-color-tertiary-tint: #6370ff;

    --ion-color-success: #2dd36f;
    --ion-color-success-rgb: 45, 211, 111;
    --ion-color-success-contrast: #000000;
    --ion-color-success-contrast-rgb: 0, 0, 0;
    --ion-color-success-shade: #28ba62;
    --ion-color-success-tint: #42d77d;

    --ion-color-warning: #ffc409;
    --ion-color-warning-rgb: 255, 196, 9;
    --ion-color-warning-contrast: #000000;
    --ion-color-warning-contrast-rgb: 0, 0, 0;
    --ion-color-warning-shade: #e0ac08;
    --ion-color-warning-tint: #ffca22;

    --ion-color-danger: #eb445a;
    --ion-color-danger-rgb: 235, 68, 90;
    --ion-color-danger-contrast: #ffffff;
    --ion-color-danger-contrast-rgb: 255, 255, 255;
    --ion-color-danger-shade: #cf3c4f;
    --ion-color-danger-tint: #ed576b;

    --ion-color-medium: #92949c;
    --ion-color-medium-rgb: 146, 148, 156;
    --ion-color-medium-contrast: #000000;
    --ion-color-medium-contrast-rgb: 0, 0, 0;
    --ion-color-medium-shade: #808289;
    --ion-color-medium-tint: #9d9fa6;

    --ion-color-light: #ffffff;
    --ion-color-light-rgb: 255, 255, 255;
    --ion-color-light-contrast: #000000;
    --ion-color-light-contrast-rgb: 0, 0, 0;
    --ion-color-light-shade: #e0e0e0;
    --ion-color-light-tint: #ffffff;
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

   .ios body {
    --ion-background-color: #ffffff;
    --ion-background-color-rgb: 255,255,255;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;

    --ion-color-step-50: #f4f5f8;
    --ion-color-step-100: #ebebf3;
    --ion-color-step-150: #e0e0e6;
    --ion-color-step-200: #d5d5d9;
    --ion-color-step-250: #cacacc;
    --ion-color-step-300: #bfbfc0;
    --ion-color-step-350: #b4b4b3;
    --ion-color-step-400: #a9a9a8;
    --ion-color-step-450: #9e9e9d;
    --ion-color-step-500: #929291;
    --ion-color-step-550: #888888;
    --ion-color-step-600: #7d7d7c;
    --ion-color-step-650: #727271;
    --ion-color-step-700: #676766;
    --ion-color-step-750: #5c5c5b;
    --ion-color-step-800: #515150;
    --ion-color-step-850: #464645;
    --ion-color-step-900: #3b3b3a;
    --ion-color-step-950: #30302f;

    --ion-item-background: #ffffff;

    --ion-toolbar-background: #ffffff;

    --ion-tab-bar-background: #ffffff;

    --ion-card-background: #ffffff;
   }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Light Theme
   * -------------------------------------------
   */

   .md body {
    --ion-background-color: #f4f5f8;
    --ion-background-color-rgb: 244,245,248;

    --ion-text-color: #000000;
    --ion-text-color-rgb: 0,0,0;

    --ion-border-color: #c8c7cc;

    --ion-color-step-50: #ebebf3;
    --ion-color-step-100: #e0e0e6;
    --ion-color-step-150: #d5d5d9;
    --ion-color-step-200: #cacacc;
    --ion-color-step-250: #bfbfc0;
    --ion-color-step-300: #b4b4b3;
    --ion-color-step-350: #a9a9a8;
    --ion-color-step-400: #9e9e9d;
    --ion-color-step-450: #929291;
    --ion-color-step-500: #888888;
    --ion-color-step-550: #7d7d7c;
    --ion-color-step-600: #727271;
    --ion-color-step-650: #676766;
    --ion-color-step-700: #5c5c5b;
    --ion-color-step-750: #515150;
    --ion-color-step-800: #464645;
    --ion-color-step-850: #3b3b3a;
    --ion-color-step-900: #30302f;
    --ion-color-step-950: #252524;

    --ion-item-background: #ffffff;

    --ion-toolbar-background: #ffffff;

    --ion-tab-bar-background: #ffffff;

    --ion-card-background: #ffffff;
   }



}


